# MongoDB Connection String
# MongoDB Atlas eken ganna - https://www.mongodb.com/atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/bus_tracker?retryWrites=true&w=majority

# Secret Keys (change this in production)
SECRET_KEY=gamanalk_secret
ADMIN_JWT_SECRET=admin_secret_change_this
PASSENGER_JWT_SECRET=passenger_secret_change_this
